* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: brown;
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
  /* margin: 20px 0; */
}

.navbar {
  position: relative;
  justify-items: center;
  align-items: center;
  margin: 20px;
}

.navbar ul {
  list-style: none;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: darkred;
  text-decoration: 3px underline;
}

.navbar li {
  align-items: center;
  display: inline-block;
}

.head h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60px;
  width: 50%;
  margin: 10px;
  color: #fff;
}

.head p {
  width: 50%;
  color: #fff;
  margin: 10px;
}

.head button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(117, 0, 0);
  padding: 10px;
  border-radius: 10px;
  color: azure;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* .head img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 100px;
  right: 0;
} */

.menu h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu {
  /* border: 2px solid black; */
  text-align: center;
  justify-items: center;
  position: relative;
  border-collapse: collapse;
}

.menu th,
td {
  border: 2px solid black;
  padding: 8px;
}
